body {
    background-attachment: fixed;
    margin: 0;
    cursor: url(img/cursor/default.png), auto;
}
a {
  cursor: url(img/cursor/point.png) 10 0,auto;
}

/* loader */
#loaderBlock {
  z-index: 101;
  background-color: #2e2e2e;
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
}
#loaderSection>img {
  position:absolute;
  left: calc(50% - 50px);
  top: 100px;
  margin: auto;
  z-index: 103;
}
.loader {
  z-index: 102;
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: #ffffff;
  background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -webkit-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  background: linear-gradient(to right, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: #ffffff;
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: #2e2e2e;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* loading bar */
#progressbar {
  -webkit-appearance: none;
  appearance: none;
  display:block;
  width: 90%;
  margin: 0 auto;
  height: 20px;
}

/* soosh.html rpg elements */
.sooshARPGCard {
  position: static;
  width: 80%;
  margin: 10px auto;
}
.horizontalFlex, .horizontalFlex_fixed, .progressBarFlex, .achievementFlex {
  display: flex;
  justify-content: space-between;
}
.horizontalFlex>div, .horizontalFlex_fixed>div {
  padding: 10px;
}
.horizontalFlex_fixed>div {
  width: 50%;
}
.infoSection {
  overflow-y:scroll;
}
.leftNavbar {
  z-index: 100;
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 50px;
  background-color: #f1f1f1;
  position: fixed;
  height: 100%;
  overflow: auto;
}
.leftNavbar li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}
.leftNavbar li a.active {
  background-color: #4CAF50;
  color: white;
}
.leftNavbar li a:hover:not(.active) {
  background-color: #555;
  color: white;
}
.navbar {
    position: fixed;
    top: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 100%;
    z-index: 100;
}
.navbar li {
    float: left;
}
.navbar li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar li a:hover, .dropdown:hover .dropbtn {
    background-color: red;
    text-decoration: none;
}
.navbar li.dropdown {
    display: inline-block;
}
.navbar .dropdown-content {
    display: none;
    position: fixed;
    top: 50px;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 100;
}
.navbar .dropdown-content a {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.navbar .dropdown-content a:hover {background-color: #f1f1f1}
.navbar .dropdown:hover .dropdown-content {
    display: block;
}
ul.rpgui-dropdown-imp {
   position: absolute;
   display: none;
}
.rpgui-dropdown-imp li {
  margin: 0 20px;
}
.rpgui-dropdown-imp li.selectedDropdown {
  color: yellow;
}

.inventoryItem, .craftingItem, .bandanaItem {
  cursor: url(img/cursor/point.png) 10 0,auto;
  width: 64px;
  height: 64px;
  background-image: url(img/icons/empty-slot.png);
  background-size: 100%;
  display: inline-block;
  transition: box-shadow 500ms;
}
.craftingItem {
  background-image: url(img/icons/failure-slot.png);
}
.craftingItem.success {
  background-image: url(img/icons/success-slot.png);
}
.inventoryItem>img, .craftingItem>img, .bandanaItem>img {
  width: 64px;
  height: 64px;
}
.inventoryItem>.quantity, .craftingItem>.quantity {
  position: absolute;
  background-color: yellow;
  padding: 2px;
  border-radius: 10px;
}
.inventoryTooltipImage, .inventoryTooltipText, .craftingTooltipImage, .craftingTooltipText, .bandanaTooltipImage, .bandanaTooltipText {
  display: none;
}
.inventoryItem:hover, .craftingItem:hover, .bandanaItem:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.selectedItem {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
#inventoryPreviewText table p {
  margin: 0;
}
.craftingPreview>p {
  margin: 0;
}
.achievementFlex p {
  margin: 0;
}
.bandanaPreview>p {
  margin: 0;
}
.achievementFlex .rpgui-icon {
  margin-right: 10px;
}
.achievementTitle {
  font-weight: bold;
}
p.achievementQuote, p.achievementDescription, p.achievementDate {
  font-size: 10px;
}
p.achievementQuote {
  font-style: italic;
}
.star-icon {
    display: inline-block;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    width: 22px;
    height: 22px;
    background-image: url(img/icons/empty-star.png);
}
.star-icon.filled {
    background-image: url(img/icons/full-star.png);
}
.rpgui-container.framed-golden.achievementContainer {
  background-size: 100% 100%;
  border-image-width: 10px;
  border-image-slice: 5;
  border-width: 5px;
}
.rpgui-container.framed-golden.achievementContainer.tutorialBG { background-image: url(img/progress-red.png); }
.rpgui-container.framed-golden.achievementContainer.exclusiveBG { background-image: url(img/progress-yellow.png); }
.rpgui-container.framed-golden.achievementContainer.questBG { background-image: url(img/progress-green.png); }
.rpgui-container.framed-golden.achievementContainer.lifeSkillsBG { background-image: url(img/progress-blue.png); }
.tutorial-achievement-progress, .exclusive-achievement-progress, .quest-achievement-progress, .lifeskills-achievement-progress, .locked-achievement-progress {
  display: none;
}
/* scrollbar */
.rpgui-container::-webkit-scrollbar-track {
  background-image: url("img/scrollbar-track.png");
  background-size: 18px 60px;
  background-repeat: repeat-y;
}
.rpgui-container::-webkit-scrollbar {
	width: 18px;
}
.rpgui-container::-webkit-scrollbar-thumb {
  background-image: url("img/scrollbar-thumb.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
/* 2 column layout */
.Rtable {
  display: flex;
  flex-wrap: wrap;
  margin: 0 0 3em 0;
  padding: 0;
}
.Rtable-cell {
  box-sizing: border-box;
  flex-grow: 1;
  width: 100%;
  padding: 0.8em 1.2em;
  overflow: hidden;
  list-style: none;
  border: 1px solid #000;
}
.Rtable--2cols > .Rtable-cell  {
  width: 50%;
  max-width: 50%;
}

.Rtable-cell.rpgui-container.framed-grey.promptContainer {
  padding:0;
  height: 200px;
}
.Rtable-cell.rpgui-container.framed-grey.promptContainer img {
  width:100%;
  object-fit: cover;
}
.promptContainerTitle {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0,0,0,0.6);
}
.promptContainer-alchemy .promptContainerTitle { background-color: rgba(218,68,68,0.6); } /* #DA4444 */
.promptContainer-angling .promptContainerTitle { background-color: rgba(76,170,201,0.6); } /* #4CAAC9 */
.promptContainer-hunting .promptContainerTitle { background-color: rgba(108,184,58,0.6); } /* #6CB83A */
.promptContainer-gathering .promptContainerTitle { background-color: rgba(208,97,199,0.6); } /* #D061C7 */
.promptContainer-mining .promptContainerTitle { background-color: rgba(113,97,208,0.6); } /* #7161D0 */
.promptContainer-woodCutting .promptContainerTitle { background-color: rgba(194,116,59,0.6); } /* #C2743B */
